{
	"GameID":null,
	"GameBackendUrl":"",
	"BCClient":
    {
        "Type": "Plasma",
        "ClientUrl": "http://localhost:8545",
        "WatcherUrl": "http://localhost:7434",
		"RootChainAddress": "0x0",
		"RootChainVersion", "samrong"
    },
	"AccountsDir":null,
	"GameCenterContract":"0x0"
}